---
- name: Get mac model name
  shell: system_profiler SPHardwareDataType | grep "Model Name"
  register: profile_output
  changed_when: false

- name: Set mac model variable
  set_fact:
    mac_model: '{{ profile_output.stdout | regex_replace("\s", "") | regex_replace("ModelName:", "") }}'

- name: Output ansible playbook runtime debug info
  debug:
    msg:
      - 'Python Version: {{ ansible_python_version }}'
      - 'Python Path: {{ ansible_playbook_python }}'
      - 'Ansible: {{ ansible_version.full }}'
      - 'macOS Version: {{ ansible_distribution_version }}'
      - 'Model: {{ mac_model }}'